/* .slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
} */
.sliderContainer{
  background-color: white;
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-rows: 100px;
  grid-template-columns: 70% 30%;
  gap: 10px
}

.header{
  background-color: white;
  grid-row: 1;
  grid-column: 1;
  color: rgb(78, 137, 226);
  align-self: center;
  justify-self: center;
}

.buttons{
  background-color: white;
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

.slider{
  background-color: white;
  grid-row: 2;
  grid-column: 1;
}

.comments{
  background-color: white;
  grid-row: 2;
  grid-column: 2;
}

.image {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.commentTile{
  background-color: oldlace;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 5px;
}

.textBox{
  width: 100%;
  height: 20px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.textBoxButton{
  width: 100%;
  border: none;

}

.errorContainer{
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.errorHeading{
  text-align: center;
  color: rgb(247, 118, 118);
}
/* 
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.slide.content {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active.content {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  position: absolute;
  background-color: rgb(51, 48, 48);
  color: white;
  right: 30%;
  left: 30%;
  top: 60%;
  padding: 10px;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
} */